body {
  padding: 0px;
  margin: 0px;
}

.page-heading {
  color: red;
  text-align: center;
}

.sucess {
  color: green;
}

.score-message {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.main-container {
  width: 14%;
  height: 130px;
  margin: 8px;
  position: relative;

  border: 1px black solid;
  /* background-color:red; */

}

.card {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 0.5s ease;

  /* border: 3px red solid; */
  /* background-color:black; */
}

.flipping-effect {
  transform: rotateY(180deg);
}


.front {
  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden;
  /* background-color: black;
   */
  /* border: 2px yellow solid; */
}

.back {
  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  /* border: 2px green solid; */

}

.buttons-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 20px;
  /* border:2px green solid; */
}


.play-again-button {
  width: 150px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 10px;
  border-width: 0px;
  background-color: aqua;
  color: black;
  font-size: 12px;
}

.play-with-gifs {
  width: 150px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 10px;
  border-width: 0px;
  font-size: 12px;
  background-color: brown;
  color: white;
}


@media screen and (max-width:600px) {
  .page-heading {
    color: red;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .score-message {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .main-container {
    width: 18%;
    height: 100px;
    margin: 5px;
    position: relative;

    border: 1px black solid;

  }

  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    /* border: 3px red solid; */
  }

  .flipping-effect {
    transform: rotateY(180deg);
  }


  .front {
    width: 100%;
    height: 100%;

    position: absolute;
    backface-visibility: hidden;
    background-color: white;

    /* border: 2px yellow solid; */
  }

  .back {
    width: 100%;
    height: 100%;

    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    /* border: 2px green solid; */

  }

  

  .buttons-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    margin-top: 5px;
    /* border:2px green solid; */
  }
  

  .play-again-button {
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    background-color: aqua;
    color: black;
    font-size: 12px;
  }

  .play-with-gifs {
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    font-size: 12px;
    background-color: brown;
    color: white;
  }


}

@media screen and (min-width:600px) and (max-width:1000px) {
  .page-heading {
    color: red;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .score-message {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .main-container {
    width: 14%;
    height: 120px;
    margin: 7px;
    position: relative;

    border: 1px black solid;

  }

  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    /* border: 3px red solid; */
  }

  .flipping-effect {
    transform: rotateY(180deg);
  }


  .front {
    width: 100%;
    height: 100%;

    position: absolute;
    backface-visibility: hidden;
    background-color: white;

    /* border: 2px yellow solid; */
  }

  .back {
    width: 100%;
    height: 100%;

    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    /* border: 3px green solid; */

  }

  
  .buttons-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    margin-top: 4px;
    /* border:2px green solid; */
  }
  

  .play-again-button {
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    background-color: aqua;
    color: black;
    font-size: 12px;
  }

  .play-with-gifs {
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    font-size: 12px;
    background-color: brown;
    color: white;
  }

}