body {
  padding: 0px;
  margin: 0px;
}

.sucess {
  color: green;
}

.page-heading {
  color: red;
  text-align: center;
}

.score-message {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.main-container {
  width: 18%;
  height: 200px;
  margin: 10px;
  position: relative;

  border: 1px black solid;

}

.card {
  width: 100%;
  height: 200px;

  transform-style: preserve-3d;
  transition: all 0.5s ease;

  /* border: 3px red solid; */
}

.flipping-effect {
  transform: rotateY(180deg);
}


.front {
  width: 100%;
  height: 200px;

  position: absolute;
  backface-visibility: hidden;
  background-color: white;

  /* border: 2px yellow solid; */
}

.back {
  width: 100%;
  height: 200px;

  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  /* border: 2px green solid; */

}

.buttons-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;

  margin-top: 50px;
  /* border:2px green solid; */
}

.play-again-button {
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
  border-width: 0px;
  background-color: aqua;
  color: black;
  font-size: 40px;
}

.play-with-gifs {
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
  border-width: 0px;
  font-size: 40px;
  background-color: brown;
  color: white;
}

@media screen and (max-width:600px) {
  .page-heading {
    color: red;
    text-align: center;
  }

  .score-message {
    text-align: center;
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .main-container {
    width: 18%;
    height: 100px;
    margin: 15px;
    position: relative;

    border: 1px black solid;

  }

  .card {
    width: 100%;
    height: 100px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    /* border: 3px red solid; */
  }

  .flipping-effect {
    transform: rotateY(180deg);
  }


  .front {
    width: 100%;
    height: 100px;

    position: absolute;
    backface-visibility: hidden;
    background-color: white;

    /* border: 2px yellow solid; */
  }

  .back {
    width: 100%;
    height: 100px;

    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    /* border: 2px green solid; */

  }

  .buttons-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    /* border:2px green solid; */
  }

  .play-again-button {
    width: 100px;
    margin: 15px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    background-color: aqua;
    color: black;
    font-size: 12px;
  }

  .play-with-gifs {
    width: 100px;
    margin: 15px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;
    font-size: 12px;
    background-color: brown;
    color: white;
  }


}

@media screen and (min-width:600px) and (max-width:1000px) {
  .page-heading {
    color: red;
    text-align: center;
  }

  .score-message {
    text-align: center;
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .main-container {
    width: 18%;
    height: 120px;
    margin: 15px;
    position: relative;

    border: 1px black solid;

  }

  .card {
    width: 100%;
    height: 120px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    /* border: 3px red solid; */
  }

  .flipping-effect {
    transform: rotateY(180deg);
  }


  .front {
    width: 100%;
    height: 120px;

    position: absolute;
    backface-visibility: hidden;
    background-color: white;

    /* border: 2px yellow solid; */
  }

  .back {
    width: 100%;
    height: 120px;

    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    /* border: 2px green solid; */

  }

  .buttons-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    /* border:2px green solid; */
  }

  .play-again-button {
    width: 200px;
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    border-width: 0px;
    background-color: aqua;
    color: black;
    font-size: 18px;
  }

  .play-with-gifs {
    width: 200px;
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    border-width: 0px;
    font-size: 18px;
    background-color: brown;
    color: white;
  }
}